
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #464032;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #221D1D;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #651262;
}

a:hover {
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 1000px;
	height: 70px;
	margin: 0 auto;
	
}

/* Logo */

#logo {

	height: 100px;
	float:left;
	margin-top: 35px;
	padding: 0px;
	color: #651262;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 20px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 26px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #5E4E38;
} 

#logo p a {
	color: #651262;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #651262;
}

/* Search */

#search {
	float: left;
	width: 600px;
	height: 80px;
  margin-left: 15px;
	margin-top: 50px;
	padding: 20px 0px 0px 0px;
	background: #CCFFCC;
	border-bottom: 4px solid #FFFFFF;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 400px;
	height: 26px;
	padding: 1px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 20px Arial, Helvetica, sans-serif;
	color: #696969;
}

#search-submit {
	width: 75px;
	height: 30px;
	border: none;
	background: #60DC6D;
	font-weight: bold;
	font-size: 10px;
	font: Helvetica, sans-serif;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 940px;
	height: 41px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img01.jpg) no-repeat left top;
}

#menu ul {
	margin: 0px 0px 0px 10px;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 26px;
	margin-bottom: 10px;
	padding: 10px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

/* Page */

#page {
	width: 1000px;

	margin: 0 auto;
	margin-top: 150px;
	padding: 0;
}

#page-bgtop {
	padding: 20px 0px;
}

#page-bgbtm {
}

/* Content */

#content {
	margin-left: 110px;
	width: 1000px;
	padding: 0px 0px 0px 0px;
}

#content p{
  font: normal 15px  Helvetica,Arial, sans-serif;
	color: #696969;

}

#content ul{
  margin-left:150px;

}

#content a:visited{
  color:#696969;
}

#content a:hover{
  text-decoration: underline;
}

.post {
	margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #000000;
}

.post .title a {
	color: #651262;
	border: none;
}

.post .meta {
	height: 30px;
	border-bottom: 1px solid #DBDBDB;
	background: #F4F4F4;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #464032;
}

.post .meta .posted {
	float: right;
	height: 24px;
	padding: 3px 15px;
	color: #464032;
}

.post .meta a {
	color: #464032;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* User */
#user {



}

/* Sidebar */

#sidebar {
	float: left;
	width: 280px;
	padding: 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dotted #E5E0C6;
	margin: 0px 30px;
	border-right: none;
}

#sidebar li a {
	padding-left: 10px;
	background: url(images/img03.gif) no-repeat left 5px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: url(images/img02.jpg) no-repeat left top;
	letter-spacing: -.5px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #696969;
}

#sidebar p {
	margin: 0 0px;
	padding: 10px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #898989;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #6E6E6E;
}

/* Box */

#box{
  width: 650px;
  height: 470px;
  background-color: #EFEFEF;
  margin: 5px;
  padding: 25px 0px 25px 50px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 1px #CEC3CE;
}

#box p{
  font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;


}

#box form {
  font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	height: 41px;
	margin: 0;

}

#box fieldset {
	margin: 0;
	padding: 0;
}

#box-text {
	width: 500px;
	height: 26px;
	padding: 1px 5px 2px 5px;
	border: none;
	background: #FFFFFF;

	font: normal 20px Arial, Helvetica, sans-serif;
	color: #696969;
}

#box-text2 {
	width: 200px;
	height: 20px;
	padding: 1px 5px 2px 5px;
	border: none;
	background: #FFFFFF;

	font: normal 15px  Helvetica ,Arial, sans-serif;
	color: #696969;
}

#box-textarea {
	
	font: normal 15px Arial, Helvetica, sans-serif;
	color: #696969;
}

#box-submit {
  float: right;
  margin-right: 137px;
	width: 75px;
	height: 30px;
	border: none;
	background: #92B5F2;
	font-weight: bold;
	font-size: 10px;
	font: Helvetica, sans-serif;
	color: #FFFFFF;
}

/* QBox */

#qbox{
  width: 475px;
  background-color: #F8F7F8;
  margin-left: 190px;
  padding: 25px 0px 25px 50px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 1px #F0EDF0;
}

#qbox h1{
  font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

#qbox p{
  font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;

}

#qbox-date{
  font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-style: italic;

}

#qbox-user{
  font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-style: italic;
}

/* ABox */
#abox{
  width: 475px;
  margin-left: 190px;
  padding: 35px 0px 55px 50px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom:dotted #60DC6D;
}

#abox h1{
  font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

#abox p{
  font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#abox-date{
  font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-style: italic;
	color:#BEBDBE;

}

#abox-user{
  font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-style: italic;
	color:#BEBDBE;
}

#abutton{
  margin-top:50px;
  width: 475px;
  height: 450 px;
  margin-left: 190px;
  padding: 35px 0px 55px 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F8F7F8;
  border: solid 1px #F0EDF0;
}
#abutton img{
  float:right;
  margin-right: 10px;
}

#abox-textarea {
	
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #696969;
}

#table{
  margin-left:200px;

}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Help */

#help{
  margin-top:100px;
  margin-right:90px;
  float:right;
}

#help p{
  font: normal Arial, Helvetica, sans-serif;
	color: #696969;

}
#help a:visited{
  color:#696969;
}



/* Footer */

#footer {
	width: 940px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	border-top: 4px solid #EBE6D1;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #444444;
}

#footer a {
	color: #464032;
}